/* all pages */

* {
  margin: 0;
}
body {
  background-color:rgb(238, 236, 231);
  color: #373632;
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
}

/* intro page */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3.4rem;
  margin-bottom: 2rem;
  text-align: center;

}

.intro p {
  font-size: 1.3rem;
  text-align: center;
 
  font-weight: 300;

}

.target {
  height: 0;

}

.target2 {
  height: 0;
}

.myButton {
	background-color:#f0c911;
	-moz-border-radius:19px;
	-webkit-border-radius:19px;
	border-radius:19px;
	border:1px solid #efd43b;
	display:inline-block;
	cursor:pointer;
	color:#373632;
  font-weight: 700;
	font-size:20px;
	padding:12px 20px;
  text-decoration:none;
  margin: 3.35rem;
}
.myButton:hover {
	background-color:#efd43b;
}
.myButton:active {
	position:relative;
	top:1px;
}

.footer p {
  margin-top: 6.7rem;
  font-size: 0.70rem;
}

/* play page */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #373632;
  color: rgb(238, 236, 231);
  font-size: 1rem;
  padding: 0.47rem;
  width: 100vw;
  position: sticky;
  top:0;
  left:0;
  z-index: 5;
}


#randomStation {
  font-size: 1.34rem;
  width: 45vw;
}

.round-score {
  display: flex;
}

.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 2rem;
}

/* image */

.big-container {
  width:100vw;
  display: flex;
  justify-content: center;
/* margin-top: 2rem;  */
padding-top: 1.34rem;
}

.img-container {
position: relative;
display: inline-block;


}

/* .game-map {
  width: 80%;
  height: auto;
} */

.message-box {
 position: absolute;
 margin: 6.7rem 21rem;
    width: 25rem;
    height: 17rem;
    border-radius: 10%;
    background-color: #373632;
    background:rgba(0,0,0,0.8);
    
    
}

@media (max-width: 600px) {
  html {
    font-size: 7px;
   
  }

  .img-container{
    overflow-x: scroll;
  }
}

.message-box p {
  color: rgb(238, 236, 231);
  text-align: center;
  font-size: 1.34rem;
  margin: 4rem;
}

.highlight {
  position: absolute;
  border: 5px solid rgba(255, 204, 0, 0.8);
  border-radius: 10%; 
  z-index: 5;
}

.highlight-wrong
{
  position: absolute;
  border: 5px solid rgba(218,0,0,0.8);
  border-radius: 10%; 
  z-index: 5;
}

.highlight-right
{
  position: absolute;
  border: 5px solid rgba(0,145,0,0.8);
  border-radius: 10%; 
  z-index: 5;
}

.icons {
 display: flex;
 justify-content: center;
}


.facebook img{
  width: 3.35rem; 
  height: 3.35rem;
  cursor: pointer;
  margin: 0.33rem;
}

.twitter img{
  width: 3.35rem; 
  height: 3.35rem;
  cursor: pointer;
  margin: 0.33rem;
  
}


p {
  font-size: 1rem;
  text-align: center;
  font-weight: 300;

}

.share-scores {
  margin-top: 3rem; 
}

.footer-results p{
  margin-top: 1.34rem; 
  font-size: 0.67rem;

}

a {
  text-decoration: none;
  color: #373632;
}

a:hover {
  text-decoration: underline;
}

.header p a{
  color: rgb(238, 236, 231);
  text-decoration: none;
}

.header p a:hover {
  text-decoration: none;
}

